.update_profile_form {
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: 2px solid gray;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;
    padding: 0.2rem 0.4rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__button {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
  }
}