.blog_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-secondary);
  border-radius: 1rem;

  &__image {
    object-fit: cover;
    margin: 0.4rem;
    border-radius: 1rem;
    width: min(20rem, 20vw);
  }

  &__title {
    background-image: var(--gradient-primary);
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    color: var(--white);
    padding: 0.4rem 1.6rem;
    font-size: 2rem;
    height: auto;
  }

  &__center {
    align-self: flex-start;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }

  &__right {
    align-self: flex-end;
    padding-right: 1rem;
  }

  &__button {
    --border: 1px; /* the border width */
    --slant: ; /* control the slanted corners */

    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, #39b385 50%, #0000 50.1%) top
        right,
      linear-gradient(to top right, #39b385 50%, #0000 50.1%) bottom left;

    background-size: calc(0.7rem + 1.3 * var(--border))
      calc(0.7rem + 1.3 * var(--border));

    background-repeat: no-repeat;

    clip-path: polygon(
      0 0,
      calc(100% - 0.7rem) 0,
      100% 0.7rem,
      100% 100%,
      0.7rem 100%,
      0 calc(100% - 0.7rem)
    );

    transition: color var(--t, 0.3s), background-size 0.3s;
    &:hover {
      background-size: 100% 100%;
      color: #fff;
      --t: 0.2s 0.1s;
    }
  }
}

@media screen and (max-width: 1000px) {
  .blog_card {
    flex-direction: column;

    &__image {
      width: 98%;
      height: 20rem;
      margin: 0.4rem;
    }

    &__title {
      margin: 0 2rem 2rem 2rem;
    }
  }
}