.dropdown {
  &__trigger {
    border-radius: 0.6rem;
    cursor: pointer;

    &:hover {
      background: var(--bg-color-tertiary);
    }
  }

  &__theme {
    position: relative;
    display: flex;
    align-items: center;

    &_moon {
      position: absolute;
      transition: all 0.8s;
    }

    &_sun {
      transition: all 0.8s;
    }

    [class='dark'] &_sun {
      opacity: 1;
      transform: scale(1) rotate(180deg);
    }
    [class='light'] &_sun {
      opacity: 0;
      transform: scale(0) rotate(0deg);
    }

    [class='light'] &_moon {
      opacity: 1;
      transform: scale(1);
    }
    [class='dark'] &_moon {
      opacity: 0;
      transform: scale(0);
    }
  }

  &__content {
    min-width: 10rem;
    background: var(--bg-color-tertiary);
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__item {
    width: 100%;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 0.5rem;

    &_icon {
      margin-right: 0.4rem;
    }

    &:hover {
      background: var(--bg-color-secondary);
    }
  }
}
