.btn {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.btn-red {
  background: linear-gradient(to right, rgb(239 68 68), rgb(185 28 28));
}

.btn-green {
  background: linear-gradient(to right, rgb(26, 239, 104), rgb(16, 118, 53));
}

.text-sm {
  font-size: 0.8rem;
}

.text-error {
  color: red;
}
.text-success {
  color: rgb(38, 206, 0);
}