@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '_variables.scss';
@import '_utils.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

html,
body {
  transition: background-color 0.3s ease;
  color: var(--color-primary);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.shadow {
  box-shadow: 4px 8px 8px hsla(0, 0%, 0%, 0.185);
}


.form {
  margin: 0 0 1rem 0;

  &_groups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .title {
    margin-bottom: 1rem;
  }

  & .group {
    display: flex;
    flex-direction: column;
    position: relative;

    & > label {
      position: absolute;
      top: 1.2rem;
      left: 1rem;
      transform: translateY(-50%);
      padding: 0.2rem;
      border-radius: 1rem;
      color: gray;
      background-color: transparent;
      transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in,
        background-color 200ms ease-in;
      cursor: text;
    }

    & > input {
      width: 100%;
      background: transparent;
      border: 2px solid gray;
      font-size: 1rem;
      border-radius: 6px;
      outline: none;
      padding: 0.4rem 1rem;

      &::placeholder {
        color: transparent;
      }

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: 0;
        left: 0.5rem;
        font-size: 0.8rem;
        background-color: var(--bg-color-secondary);
      }
    }
  }
}
