.search_bar {
  &__form {
    display: flex;
    position: relative;

    input {
      width: 100%;
      outline: none;
      padding: 0.4rem 0.6rem;
      border-radius: 1rem;
      border: 2px solid grey;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0.4rem 1rem;
      border-radius: 1rem;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}