.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .subtitle {
    font-size: 1.4rem;
  }

  .subtitle::first-letter {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .reset_filter {
    cursor: pointer;

  }
}

.categories_list {
  display: flex;
  gap: 0.4rem;
  list-style: none;
  flex-wrap: wrap;
}

.category_item {
  margin: 0.6rem 0;
  & input {
    display: none;

    &:checked ~ label {
      border-color: var(--blue-light);
    }
  }

  & label {
    border: 2px solid grey;
    border-radius: 4rem;

    padding: 0.4rem 0.6rem;
  }
}
