.post_card {
  background-color: var(--bg-color-secondary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition: height 0.2s ease-in;
  transition-delay: 0.2s;

  &__left {
    position: relative;
    width: 100%;
    display: flex;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    position: absolute;
    top: 1rem;
    left: 10vw;
    padding: 0.4rem 1.6rem;
    font-size: 1.8em;
    color: var(--white);
    background-image: var(--gradient-primary);
    transition: transform 0.4s ease-out;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  &__product_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    margin-left: 5rem;
  }

  &__preparation_time {
    transition: opacity 0.2s ease-in;
    transition-delay: 0.4s;
    opacity: 0;
  }

  &__description {
    transition: opacity 0.2s ease-in;
    transition-delay: 0.4s;
    opacity: 0;
  }

  &__ingredients {
    font-size: 0.8rem;
    transition: opacity 0.2s ease-out, margin 0.2s ease-in;
    width: 100%;
    margin-left: -4rem;
    margin-top: auto;
    color: #7a7a7a;
  }

  &__images_wrapper {
    cursor: pointer;
  }

  &__image {
    position: relative;
    border-radius: 0.375em;
    border: 2px wheat solid;
    transition: transform 0.2s ease-out;
    perspective: 1500px;
    z-index: 5;
  }

  &__image_second {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.375em;
    border: 2px wheat solid;
    z-index: -1;
    opacity: 0;
  }

  &__additional_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    // transition: transform 0.4s ease-out, opacity 0.2s ease-out;
  }

  &__date {
    white-space: nowrap;
  }

  &__read_time {
    color: #aaa;
    white-space: nowrap;
  }

  &__read_more_button {
    white-space: nowrap;
  }

  &:hover {
    & .post_card {
      &__title {
        transform: translateY(-1.6rem) translateX(10rem);
      }

      &__image {
        transform: perspective(40rem) translateY(0.2rem) scale(1.05)
          rotateX(12deg) rotateY(20deg) rotateZ(-3deg);
      }

      &__preparation_time {
        opacity: 1;
      }
      &__description {
        opacity: 1;
      }

      &__ingredients {
        margin-left: 0rem;
      }

      &__image_second {
        opacity: 1;
        animation: flipCard 1s forwards;
      }
    }
  }

  &__button {
    --border: 1px; /* the border width */
    --slant: ; /* control the slanted corners */

    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, #39b385 50%, #0000 50.1%) top
        right,
      linear-gradient(to top right, #39b385 50%, #0000 50.1%) bottom left;

    background-size: calc(0.7rem + 1.3 * var(--border))
      calc(0.7rem + 1.3 * var(--border));

    background-repeat: no-repeat;

    clip-path: polygon(
      0 0,
      calc(100% - 0.7rem) 0,
      100% 0.7rem,
      100% 100%,
      0.7rem 100%,
      0 calc(100% - 0.7rem)
    );

    transition: color var(--t, 0.3s), background-size 0.3s;
    &:hover {
      background-size: 100% 100%;
      color: #fff;
      --t: 0.2s 0.1s;
    }
  }
}

@media screen and (max-width: 1200px) {
  .post_card {
    display: flex;
    flex-direction: column;
    font-size: 90%;

    &__left {
      flex-direction: column;
    }

    &__right {
      flex-direction: row;
    }

    &__additional_info {
      margin-top: 2rem;
      flex-direction: row;
    }

    &__image {
      transition: none !important;
      width: 100%;
      object-fit: cover;
    }
    &__image_second {
      display: none;
    }

    &__title {
      top: calc(14rem);
      left: 0;
    }

    &__product_info {
      margin-left: 0rem;
    }

    &__preparation_time {
      opacity: 1;
    }

    &__description {
      opacity: 1;
    }

    &__ingredients {
      margin-left: 0;
    }

    &__button {
      margin-bottom: 0;
    }

    &:hover {
      & .post_card__title {
        transform: none !important;
      }

      & .post_card__image {
        transform: none !important;
      }

      & .post_card__image_second {
        opacity: 0;
        transform: none !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .post_card {
    &__right {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    &__button {
      align-self: flex-end;
    }
  }
}

@keyframes flipCard {
  0% {
    z-index: 0;
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(90%) rotate(-10deg);
  }
  100% {
    z-index: 10;
    transform: translateX(4rem) translateY(2rem) rotate(-3deg);
  }
}
