.blog_post {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    & .image {
      width: 100%;
      height: 40rem;
      clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
      object-fit: cover;
    }

    & .title {
      position: absolute;
      padding: 1rem 3rem;
      font-size: 3em;
      bottom: 2rem;
      left: 10%;
      margin-right: 10%;
      clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
      color: var(--white);
      background-image: var(--gradient-primary);
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__mdx {
    overflow: hidden;
  }

  &__mdx > * {
    overflow-wrap: break-word;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0 min(3rem, 4vw);
  }
}

@media screen and (max-width: 1200px) {
  .blog_post {
    &__container {
      font-size: 90%;
    }

    &__header {
      height: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .blog_post__header {
    & .title {
      font-size: 1.8rem;
    }
  }
}
